<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Buy Home Furnishings Items Online Upto 50% Off | Pepperfry</title>
</head>
<body>
<script async="true">
    if (window.innerWidth <= 720) {
      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-K8V3Z8');

    } else {

      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TWGMR3');
    }
  </script>

<a href="/category/furniture.html?type=hover-furniture">Link1<a>
<a href="/category/sofas-and-seating.html?type=hover-sofasseating">Link2<a>
<a href="/category/mattresses.html?type=hover-mattresses">Link3<a>
<a href="/category/home-decor.html?type=hover-homedecor">Link4<a>
<a href="/category/furnishings.html?type=hover-furnishings">Link5<a>
<a href="/category/lamps-and-lighting.html?type=hover-lampslighting">Link6<a>
<a href="/category/kitchen-and-dining.html?type=hover-kitchendining">Link7<a>
<a href="/category/luxury-brand.html?type=hover-luxury">Link8<a>
<a href="/form/modular-furniture.html?type=hover-modular">Link9<a>

<div>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br></div>
<div>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br></div>
<div>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br>A</br></div>

</body>
</html>